button{
    border-radius:2px;
    border:none;
    padding:4px 1em;
    position:relative;
}
button:focus{
    outline:none;
    overflow:hidden;
}
button:hover{
    border:1px solid grey;
}
div{
    text-align:center;
}
span.value{
    position: relative;
    z-index:2;
    color:red;
}
span.shadow{
    display:inline-block;
    background:grey;
    width:16px;
    height:16px;
    border-radius:50%;
    animation: .7s scale;
    position:absolute;
}
@keyframes scale{
    0%{transform:scale(0.1)}
    100%{transform:scale(10)}
}